.container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-content: center;
	}

.item {
	height: 5%;
	width: 20%;
    border-style: solid;
	border-color: black;
	border-radius: 5%;
	box-shadow: 10px 10px blue;
	}
a:hover {
	color: yellow;
}
.center {
	text-align: center;
	font-size: 250%;
	font-family: 'Galada', cursive;
	}
.form-center {
	text-align: center;
	border-style: solid;
	border-color: black;
	padding: 50px 10px 50px 10px;
}
.links {
	text-align: right;
}
.font{
	font-family: 'Shadows Into Light', cursive;
}

@media only screen and (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		}

	.item {
		height: 10%;
		width: 20%;
    		border-style: solid;
		border-color: green;
		border-radius: 50%;
		box-shadow: 2.5px 2.5px purple;
	}
	a:hover {
		color: yellow;
}
	.center {
		text-align: center;
		font-size: 250%
}
	.form-center {
		text-align: center;
		border-style: solid;
		border-color: black;
		padding: 50px 10px 50px 10px;
}
	.links {
		text-align: left;
}
}
